body {
    margin-left: 30%;
    margin-right: 30%;
    background-size: 53px 53px;
    background-repeat: repeat;
    background-color: rgb(99, 99, 99);
    background-image: radial-gradient(
      white 30px,
      rgb(255, 235, 230) 30px
      );
}

button{
  font-family: Courier New, monospace !important;
}

* {
  font-family: fantasy;
}