body {
  text-align: center;
  padding: 0;
  margin: 0;
  background-size: 53px 53px;
  background-repeat: repeat;
  background-color: rgb(99, 99, 99);
  background-image: radial-gradient(
    white 30px,
    rgb(245, 245, 245) 30px
    );
}

#main_game {
  z-index: 2;
}

#bgimg {
  z-index: 1;
}
#btnInline{
    display: inline-block;
    vertical-align: top;
}

#coins{
  text-align: center;
}
#Align{
  margin-left: 3px;
  margin-right: 3px;
}
#rightAlign{
  float:right;
  margin-left: 3px;
  margin-right: 3px;
}
#start{
  margin-top: 3%;
  margin-right: 4%;
  margin-top: 5%;
}

form{
  float: left;
}
#game {
  width: 700px;
  height: 300px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: block;
  border: 2px solid black;
}
#skin {
  margin-top: 2%;
  margin-left: 1%;
}
#inv, #coin_dub {
  margin-top: 2%;
  margin-left: 2%;
}
#magnet {
  margin-top: 2%;
  margin-left: 2%;
}

canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  float: right;
  display: block;
  display: inline;
}

.rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
}