#main_game {
  z-index: 2;
}

#bgimg {
  z-index: 1;
}
#btnInline{
    display: inline-block;
    vertical-align: top;
}

#coins{
  text-align: center;
}
#Align{
  margin-left: 3px;
  margin-right: 3px;
}
#rightAlign{
  float:right;
  margin-left: 3px;
  margin-right: 3px;
}
#start{
  float: right;
  margin-top: 23%;
  margin-right: 24%;
}
#usrCoins{
  margin-top: 3%;
  margin-left: 19%;
}
#usrScore{
  margin-top: 3%;
  margin-left: 20%;
}
form{
  float: left;
}
#game {
  width: 700px;
  height: 300px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: block;
  border: 2px solid black;
}

canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  float: right;
  display: block;
  display: inline;
}